{
  "prune": false,
  "services": [
    {
      "name": "demo-worker",
      "group": "demo",
      "command": "/bin/sleep",
      "args": ["infinity"],
      "autostart": true,
      "autorestart": "unexpected",
      "exitcodes": [0],
      "startsecs": 5,
      "retry_limit": 3,
      "env": {
        "DEMO": "true"
      },
      "health_check": {
        "type": "exec",
        "command": "true"
      }
    }
  ]
}
